body {
    background-color: #EBF5EE;
}

footer {
    text-align: center;
    padding: 10px;
    color: #EBF5EE;
    background-color: #1d1d1d;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer > * {
    padding: 3px;
    display: inline-block;
}


.bg-i {
    background-image: url('./img/board.jpg');
    width: 100vw;
    height: 600px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display: flex;
}
.bg-grad {
    background: linear-gradient(185deg, rgba(2,0,36,1) 0%, rgba(9,119,121,1) 100%)
}

.display-off {
    display: none;
}


.display-on {
    display: block;
}

.center {
    width: 75%;
    margin: 0 auto;
}

.linea {
    display: inline;
}

.linea-bloque {
    display: inline-block;
}

.bloque {
    display: block;
}